{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
<div class="content-section">
<div class="media">
  <center><img style = "padding: 10px 20px;margin-bottom: 20px;"class="rounded-circle account-img" src="{{ image_file }}"></center>
  {%if current_user.is_verified == 'yes'%}
  Verified
  {%endif%}
  <div class="media-body">
    <h4 style="margin-top:5px;"class="account-heading">{{ current_user.username }}</h4>
    <p class="text-secondary">{{ current_user.email }}</p>
    <p> {{ current_user.followers.count() }} followers, {{ current_user.followed.count() }} following.</p>
    <p>{{ current_user.about }}</p>
  </div>
</div>
  </div>
  <center><form action="" method="POST", enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class='form-group'>
      <legend class = "border-bottom mb-4">Account Update</legend>
      <div class = "form-group">
        {{ form.username.label(class="form-control-label") }}

        {% if form.username.errors %}
          {{ form.username(class="form-control form-control-lg is-invalid") }}
          <div class = "invalid-feedback">
            {% for error in form.username.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.username(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class = "form-group">
        {{ form.email.label(class="form-control-label") }}
        {% if form.email.errors %}
          {{ form.email(class="form-control form-control-lg is-invalid") }}
          <div class = "invalid-feedback">
            {% for error in form.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
          </div>
        {% else %}
          {{ form.email(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class = "form-group">
        {{ form.about.label(class="form-control-label") }}
        {% if form.about.errors %}
          {{ form.about(class="form-control form-control-lg is-invalid") }}
          <div class = "invalid-feedback">
            {% for error in form.about.errors %}
              <span>{{ error }}</span>
              {% endfor %}
          </div>
        {% else %}
          {{ form.about(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class = "form-group">
        {{ form.picture.label(class="form-control-label") }}
        {% if form.picture.errors %}
          {{ form.picture(class="form-control form-control-lg is-invalid") }}
          <div class = "invalid-feedback">
            {% for error in form.picture.errors %}
              <span>{{ error }}</span>
              {% endfor %}
          </div>
        {% else %}
          {{ form.picture(class="form-control form-control-lg") }}
        {% endif %}
      </div>


    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form></center>
  </div>
  </div>
  </div>


{% endblock content %}
