{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">


  <div class="media-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <img style = " margin-bottom: 20px;"class="rounded-circle account-img" src="{{ url_for('static' ,filename =user.image_file) }}">
        </div>
        <div class="col-6">
          <h4 style= "margin-top:20px;" class="account-heading align-text-top">{{ user.username }}</h4>

          <p style = "text-muted"> {{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
        </div>
        </div>
  </div>


  {% if not current_user.is_following(user) %}

            <form  action="{{ url_for('follow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}

                  <div style="margin:10px;">{{ form.submit(value='Follow') }}</div>

            </form>

        {% else %}

            <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                <div style="margin:10px;">{{ form.submit(value='Unfollow') }}</div>
            </form>

        {% endif %}
  </div>
  {% for post in posts[::-1] %}
  {% if post.user_id == user.id %}
  <article style ="background: #ffffff; padding: 10px 20px; border: 1px solid #dddddd; border-radius: 3px; margin-bottom: 20px;"class="media content-section">

    <div class="media-body">

      <div style="padding-bottom: 1px; margin-bottom: 4px; border-bottom: 1px solid #e3e3e3"class="article-metadata">
        <img style ="height: 45px; width: 45px; margin-bottom:6px;"class="rounded-circle article-img" src="{{ url_for('static' ,filename= post.author.image_file )}}">
        <a class="mr-2" href="{{ url_for('user', username=post.author.username)}}">{{ post.author.username }}</a>
        <small class="text-muted  mt-3 mb-5">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if current_user.is_authenticated %}
          {% if post.author == current_user %}

            <a style="float:right; margin:-8px; margin-right:0.5px; margin-top:5px;"class="btn btn-secondary btn-sm" href="{{ url_for('update_post', post_id=post.id) }}"><left>Update</left></a>

          {% endif %}
        {% endif %}
      </div>

      <h5 style="white-space:pre-line;margin-top: 10px;"class="article-content mb-5 pre-line">{{ post.content }}</h5>
      <a href ="{{ url_for('post_tag_page', post_tag=post.tag) }}"><h5 style="white-space:pre-line;margin-top: 10px;text-overflow: ellipsis;"class="article-content mb-5 pre-line">{{ post.tag }}</h5></a>

      {%if post.post_pic%}
        <img style ="margin-bottom:6px;" src="{{ url_for('static' ,filename= post.post_pic )}}">
      {%endif%}

    </div>

  </article>
  {% endif %}
  {%endfor%}

  </div>
  </div>
  </div>


{% endblock content %}
