{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light"><center>Search results for {{user.tag}}</center></h1>


  {% for post in posts[::-1] %}
  {% if post.tag == user.tag %}
  <article style ="background: #ffffff; padding: 10px 20px; border: 1px solid #dddddd; border-radius: 3px; margin-bottom: 20px;"class="media content-section">

    <div class="media-body">

      <div style="padding-bottom: 1px; margin-bottom: 4px; border-bottom: 1px solid #e3e3e3"class="article-metadata">
        <img style ="height: 45px; width: 45px; margin-bottom:6px;"class="rounded-circle article-img" src="{{ url_for('static' ,filename= post.author.image_file )}}">
        <a class="mr-2" href="{{ url_for('user', username=post.author.username)}}">{{ post.author.username }}</a>
        <small class="text-muted  mt-3 mb-5">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if current_user.is_authenticated %}
          {% if post.author == current_user %}

            <a style="float:right; margin:-8px; margin-right:0.5px; margin-top:5px;"class="btn btn-secondary btn-sm" href="{{ url_for('update_post', post_id=post.id) }}"><left>Update</left></a>


        {% endif %}
      </div>

      <h5 style="white-space:pre-line;margin-top: 10px;"class="article-content mb-5 pre-line">{{ post.content }}</h5>
      <a href ="{{ url_for('post_tag_page', post_tag=post.tag) }}"><h5 style="white-space:pre-line;margin-top: 10px;text-overflow: ellipsis;"class="article-content mb-5 pre-line">{{ post.tag }}</h5></a>

    </div>

  </article>
    {% endif %}
  {% endif %}
  {%endfor%}

  </div>
  </div>
  </div>


{% endblock content %}
